build/
notebooks/
__pycache__/
.ipynb_checkpoints/
notebooks/__pycache__/
notebooks/.ipynb_checkpoints/
tutorials/.DS_Store
Tutorials/inputs/.DS_Store
tutorials/wavescapes
*.egg-info/
dist/
build/
midifFiles/*.png
